# SPDX-FileCopyrightText: Copyright (c) 2020-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.aux
*.bbl
*.bcf
*.blg
*.c
*.eo
*.fdb_latexmk
*.fls
*.log
*.out
*.pyg
*.run.xml
*.synctex.gz
*.zip
.DS_Store
.idea/
_eolang/
_minted-*
iexec.ret
node_modules/
package/
paper.pdf
